<div class="chat-page">
  <div class="chat-container">
    <div #messagesContainer class="messages-container" (domChange)="onDomChange()">
      <div class="messages">
        <ng-container *ngFor="let message of messages">
          <ng-container *ngIf="message.role !== 'system'">
            <app-message [message]="message"></app-message>
          </ng-container>
        </ng-container>
      </div>

      <div *ngIf="loading">
        <app-loading></app-loading>
      </div>
    </div>

    <div class="input-container">
      <form (submit)="submit(message)">
        <input
          matInput
          [(ngModel)]="message"
          name="message"
          placeholder="Type something..."
        />
        <button type="submit">Send</button>
      </form>
      <div class="choose-model">
        <label for="cars">Language model: </label>
        <select [(ngModel)]="selectedModel">
          <option *ngFor="let model of availableModels" [ngValue]="model">
            {{ model.name }} – {{ model.description }}
          </option>
        </select>
      </div>
    </div>
  </div>
</div>
